.flex
    //Top info
    .col100.flex-wrap
        label.col47
            +text-input('character_name')
            .label.text.title(data-i18n='name')
        label.col24b
            +text-input('pronouns')
            .label.text.title(data-i18n='pronouns')
        +playbook-selector()
        label.col100
            +text-input('ethos')
            .label.text.title(data-i18n='ethos')
        
        //Left Column
        .col15
            label.col100.stats
                +number-input('presence')
                +roll('presence','presence')(data-i18n='presence').statbutton
                .moves(data-i18n='tanstaafl')
                .moves(data-i18n='influencesomeone')
            label.col100.stats
                +number-input('cool')
                +roll('cool','cool')(data-i18n='cool').statbutton
                .moves(data-i18n='thinkfast')
                .moves(data-i18n='actcasual')
            label.col100.stats
                +number-input('smarts')
                +roll('smarts','smarts')(data-i18n='smarts').statbutton
                .moves(data-i18n='usetech')
                .moves(data-i18n='readroom')
            label.col100.stats
                +number-input('bones')
                +roll('bones','bones')(data-i18n='bones').statbutton
                .moves(data-i18n='throwdown')
                .moves(data-i18n='protectsomeone')

        //Center Column - Tanstaafl & XP
        .col45
            .text.section-head(data-i18n='tanstaafl')