.flex
    //Top info
    .col100.flex-wrap
        label.col47
            +text-input('character_name')
            .label.text.title(data-i18n='name')
        label.col24b
            +text-input('pronouns')
            .label.text.title(data-i18n='pronouns')
        +playbook-selector()
        label.col100
            +text-input('ethos')
            .label.text.title(data-i18n='ethos')
        
        //Left Column
        .col15
            +hidden-input('chosestats').statcheck
            .stats
                label.col100.stats
                    +number-input('presence')
                    +roll('presence','presence')(data-i18n='presence').statbutton
                    .moves(data-i18n='tanstaafl')
                    .moves(data-i18n='influencesomeone')
                label.col100.stats
                    +number-input('cool')
                    +roll('cool','cool')(data-i18n='cool').statbutton
                    .moves(data-i18n='thinkfast')
                    .moves(data-i18n='actcasual')
                label.col100.stats
                    +number-input('smarts')
                    +roll('smarts','smarts')(data-i18n='smarts').statbutton
                    .moves(data-i18n='usetech')
                    .moves(data-i18n='readroom')
                label.col100.stats
                    +number-input('bones')
                    +roll('bones','bones')(data-i18n='bones').statbutton
                    .moves(data-i18n='throwdown')
                    .moves(data-i18n='protectsomeone')

                label.col100.stats
                    button(
                        type="action",
                        name="act_resetstats"
                    )(data-i18n='resetstats').statresetbutton
                    
            
            .stat-selector

                .label.text(data-i18n='statdirections')
                fieldset.repeating_stats
                    button(
                        type="action",
                        name="act_stats",
                    )
                        +textarea('name')
                    +hidden-input('presence')
                    +hidden-input('cool')
                    +hidden-input('smarts')
                    +hidden-input('bones')


        //Center Column - Tanstaafl & XP
        .col45
            .tanstaafl.flex-wrap
                .col100.section-head.text(data-i18n='tanstaafl')
                .col50.oweLabel(data-i18n='owe')
                .col50.owedLabel(data-i18n='owed')
                .col50.owe
                    fieldset.repeating_owe
                        +text-input('owe')(data-i18n-placeholder='owe_placeholder')
                .col50.owed
                    fieldset.repeating_owed(data-i18n-placeholder='owed_placeholder')
                        +text-input('owed')
            .col100.exp.flex-wrap
                .col100.section-head.text(data-i18n='exp')
                .col100.flex-wrap
                    .xpboxcontainer.tanstbox
                        +checkbox('xp1','xpbox')
                    .xpboxcontainer.tanstbox
                        +checkbox('xp2','xpbox')
                    .xpboxcontainer
                        +checkbox('xp3','xpbox')
                    .xpboxcontainer
                        +checkbox('xp4','xpbox')
                    .xpboxcontainer
                        +checkbox('xp5','xpbox')
                    .xpboxcontainer
                        +checkbox('xp6','xpbox')
                    .xpboxcontainer
                        +checkbox('xp7','xpbox')
            .col100.notes
                .col100.section-head.text(data-i18n='movesnotes')
                +textarea('notes','notes')

        //Right Column - Harm & Gear
        .col40
            .harm.flex-wrap
                .col100.section-head.text(data-i18n='harm')
                .col24b.harmlabel.text(data-i18n='minor')
                .col24b.harmboxcontainer
                    .harmboxsubcontainer
                        +checkbox('minor1','harmbox')
                    .harmboxsubcontainer
                        +checkbox('minor2','harmbox')
                .col50.harmtags
                    .taglabel(data-i18n='tags')
                    +textarea('minortags','tags')

                .col24b.harmlabel.text(data-i18n='moderate')
                .col24b.harmboxcontainer
                    .harmboxsubcontainer
                        +checkbox('moderate1','harmbox')
                    .harmboxsubcontainer
                        +checkbox('moderate2','harmbox')
                .col50.harmtags
                    .taglabel.smalltaglabel(data-i18n='temporary')
                    +textarea('temporarytags','tags')

                .col24b.harmlabel.text(data-i18n='major')
                .col24b.harmboxcontainer
                    .harmboxsubcontainer
                        +checkbox('major1','harmbox')
                    .harmboxsubcontainer
                        +checkbox('major2','harmbox')
                .col50.harmtags
                    .taglabel.smalltaglabel(data-i18n='needsattention')
                    +textarea('needattentiontags','tags')

                .col24b.harmlabel.text(data-i18n='dying')
                .col24b.harmboxcontainer
                    .harmboxsubcontainer
                        +checkbox('dying1','harmbox')
                .col50.harmtags
                    .taglabel.smalltaglabel(data-i18n='permanent')
                    +textarea('permanentags','tags')

            .col100
                .section-head.text(data-i18n='gear')
                .gearsection
                    fieldset.repeating_gear
                        +checkbox('gearcheck', 'gearcheck')
                        +text-input('name')(data-i18n-placeholder='gear_name')
        
        //Next Section
        .col100.bottomsection.flex-wrap
            .col33.flex-wrap
                //Playbook Moves
                .col50
                    .bottomsection-head.text(data-i18n='playbookmoves')
                .col50
                    .bottomsection-desc.text(data-i18n='playbookmovesdesc')
                .col100
                    .playbookmoves
                        fieldset.repeating_moves
                            +checkbox('movecheck','btmcheck')
                            +text-input('name')(data-i18n-placeholder='moves_name')
                            +textarea('description')(data-i18n-placeholder='moves_description')

            .col33.flex-wrap
                //Specialty Moves
                .col50
                    .bottomsection-head.text(data-i18n='specialty')
                .col50
                    .bottomsection-desc.text(data-i18n='specialtydesc')
                .col100
                    .playbookmoves
                        fieldset.repeating_specialties
                            +checkbox('speccheck','btmcheck')
                            +text-input('name')(data-i18n-placeholder='moves_name')
                            +textarea('description')(data-i18n-placeholder='moves_description')
                //Leveling Up
                .col50
                    .bottomsection-head.text(data-i18n='levelingup')
                .col50
                    .bottomsection-desc.text(data-i18n='levelingupdesc')
                .col100
                    .levelingup
                        fieldset.repeating_leveling
                            +checkbox('levelupcheck','btmcheck')
                            +text-input('name')

            .col33.flex-wrap
                //Links
                .col50
                    .bottomsection-head.text(data-i18n='links')
                .col50
                    .bottomsection-desc.text(data-i18n='linksdesc')
                .col100
                    .linksection
                        fieldset.repeating_links
                            +text-input('linkcharacter')(data-i18n-placeholder='player')
                            +textarea('name')(data-i18n-placeholder='links_name')

