@import url('https://fonts.googleapis.com/css?family=Courier+Prime&display=swap');

$lightest: #d8d8d8;
$lighter: #c7c7c7;
$darkgrey: #b4b4b4;
$versiongrey: #aaa;
$greyborder: #8c8c8c;
$headergrey: #808080;
$lightblack: #777;
$lighterblack: #555;
$fontblack: #333;

.charsheet {
	flex-wrap: wrap;
	color: $fontblack;
	position: relative;
	top: -11px;
	line-height: 18px;
	cursor: default;
	box-sizing: border-box;
	padding: 0 !important;
	font-family: "Courier Prime";
	font-size: 16px;

	div, span, textarea, ul, li, span, label {
		box-sizing: border-box;
	}

	button[type=roll] {
		text-shadow: none;
		background: transparent;
		box-shadow: none;
		font-weight: bold;
		font-family: inherit;
		outline: none;
		border-radius: 0;
		transition: all 0.2s;
		&.btn::before {
			content: "";
		}
	}

	label {
		margin: 0;
		padding: 0;
		display: flex;
		width: auto;
		color: $fontblack;
		font: inherit;
		flex-wrap: wrap;


		input[type=checkbox], input[type=radio] {
			position: absolute;
		}

		&:hover {
			input[type=checkbox] + span, input[type=radio] + span {
				opacity: 0.7;
			}
		}
	}

	input[type=text], textarea {
		border: none;
		font-family: inherit;
		background: transparent;
		box-shadow: none;
		width: 100%;
		padding: 0;
		margin: 0;
		color: $fontblack;
		border-radius: 0;
		transition: all 0.2s, height 0.4s;
	}

	input[type=text] {
		border-bottom: 1px solid black;
		margin-right: 10px;
	}

	textarea {
		resize: vertical;
		display: block;
		&:active {
			transition: height 0s;
		}
	}

	input[type=number] {
		border-color: $lighter;
		color: $fontblack;
		box-shadow: none;
	}

	input[type=checkbox], input[type=radio] {
		opacity: 0;
		z-index: 1;
		-moz-appearance: none;
		position: relative;
		+ span {
			cursor: pointer;
			display: inline-block;
			transition: all 0.2s, opacity 0s;
			position: absolute;
		}
	}

	ul {
		list-style: none;
		margin: 0;
	}

	li {
		position: relative;
		&::before {
			transform: rotate(45deg) scale(0.9);
			font-family: Georgia, serif;
			content: '■';
			left: 0;
			top: -.1em;
			position: absolute;
		}
	}

	button{
		background-color: white;
		background-image: none;
		border-radius: 0;
	}


	button[type=roll].sheet-inherit, input[type=text].sheet-inherit {
		font: inherit;
		color: inherit;
		text-transform: inherit;
		letter-spacing: inherit;
	}
	.sheet-space-after::after {
		content: ' ';
	}
}

.sheet-focus-shadow[value="1"] ~ .sheet-wrapper {
	textarea, input[type=text], input[type=number] {
		&:focus {
			box-shadow: inset 0 0 1px 1px rgba(66,66,66,.3), 0 0 2px 1px rgba(66,66,66,.3);
		}
	}
}
.sheet-hidden {
	display: none !important;
}

.sheet-wrapper {
	position:relative;
}


/* REPEATING SECTION CONTROLS */
/* REPEATING SECTION CONTROLS */
.repcontrol {
	display: flex;
	.repcontrol_edit {
		margin-left: auto;
		order: 1;
	}
	button {
		background: transparent;
		color: $lightblack;
		border-radius: 0;
		border-color: $darkgrey;
		transition: all 0.2s;
		font-family: pictos;
		font-size: 0;
		font-weight: bold;
		padding: 5px 3px 2px;
		line-height: 8px;
		margin-top: 5px;
		&:hover {
			color: black;
			border-color: black;
			background: $lighter;
		}
		&.repcontrol_edit::after { content: "(" }
		&.repcontrol_add::after { content: "&" }
		&.repcontrol_edit::after, &.repcontrol_add::after { font-size: 12px }
	}
}
.repcontainer.editmode + .repcontrol button.repcontrol_edit::after { content: ")" }
.sheet-free-repcontrol .repcontrol{ margin-top: 3px }



.sheet-playbook-selector {
	select {
		border:0;
		border-radius: 0;
		font-size: 18px;
		letter-spacing: 1px;
		color: white;
		background-color: black;
		text-transform: uppercase;
		font-weight: bold;
		padding-top: 0;
		height:19px;
		width:240px;
	
	}
	optgroup {
		font-size:14px;
	}
}

.sheet-stats {


	input[type=number]{
		text-align: center;
		font-size: 30px;
		margin-top: 8px;
		width:100%;
		margin-left:auto;
		margin-right:auto;
	}

	.sheet-title{
		width:100%;
		text-align: center;
		margin:0px;
		font-size:18px;
	}
	.sheet-moves {
		width:100%;
		text-align: center;
		margin:0;
		font-size:12px;
	}


	input::-webkit-outer-spin-button,
	input::-webkit-inner-spin-button {
  		-webkit-appearance: none;
		margin: 0;
	}

	.sheet-statbutton{
		border:0;
		background-color: black;
		color: white;
		margin:0 !important;
		font-size:18px;
		width:100%;
		text-align: center;
	}

}


.sheet-stat-selector {
	select {
		border:1px solid black;
		border-radius: 0;
		font-size: 12px;
		letter-spacing: 1px;
		padding-top: 0;
		height:19px;
		width:100%;
	
	}
	optgroup {
		font-size:12px;
	}
}


.sheet-flexwidth {
	&[value="0"] ~ .sheet-container {
		width: 860px;
	}
	&[value="1"] ~ .sheet-container {
		min-width: 860px;
		max-width: 1190px;
	}
}


/* COLUMN LAYOUT */
.sheet-flex {
	display: flex;
}
.sheet-flex-wrap {
	display: flex;
	flex-wrap: wrap;
	align-content: flex-start;
	align-items: flex-start;
}
.sheet-flex-center {
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
}
.sheet-right-column {
	padding-left: 5px;
}
.sheet-col10 {
	width:10%
}
.sheet-col15 {
	width:15%
}
.sheet-col42 {
	width: 42.5%
}
.sheet-col47 {
	width: 47%
}
.sheet-col53 {
	width: 53%;
}
.sheet-col37 {
	width: 37%;
}

.sheet-col33 {
	width: 33.3%;
}

.sheet-col40 {
	width: 40%;
}
.sheet-col24b {
	width: 24.25%;
}
.sheet-col50 {
	width: 50%;
}
.sheet-col52b {
	width: 52%;
}
.sheet-col55 {
	width: 55%;
}
.sheet-col45{
	width: 45%;
}
.sheet-col63 {
	width: 63%;
}
.sheet-col100 {
	width: 100%;
}

/* FONT STYLES */
.sheet-label,
input[type=text].sheet-label,
textarea.sheet-label,
button[type=roll].sheet-label {
	text-transform: uppercase;
	font-weight: bold;
}
.sheet-uppercase {
	text-transform: uppercase;
}
.sheet-smallcaps,
input[type=text].sheet-smallcaps,
textarea.sheet-smallcaps {
	font-variant: small-caps;
	font-weight: bold;
}

.sheet-text {
	color: black;
	text-align: justify;
	padding: 3px 0 2px;
	line-height: 13px;
}
.sheet-title {
	font-size: 16px;
	letter-spacing: 1px;
	color: white;
	background-color: black;
	padding:3px 5px;
	margin-right: 10px;
} 

.sheet-section-head {
	text-align: center;
	font-size: 18px;
	padding-top: 10px;
}

.sheet-tanstaafl {
	padding:5px;

	.sheet-oweLabel {
		border-right: 2px solid black;
		border-bottom:2px solid black;
		text-align: center;
	}

	.sheet-owedLabel{
		border-bottom:2px solid black;
		text-align:center;
	}

	.sheet-owe{
		border-right:2px solid black;
		min-height: 215px;
	}

	.sheet-owed,.sheet-owe{

		input[type=text] {
			text-align: center;
			border:none;
		}
	}

	button{
		margin:2px;
	}

}


//XP Box Area
$xpboxwidth:30px;
$xpboxpadding:2px;
.sheet-exp{
	padding-left: 5px;
	margin-top:5px;

	.sheet-xpboxcontainer{
		width:$xpboxwidth + $xpboxpadding;
	}
	
	/* CHECKBOXES */
	.sheet-xpbox {
		margin-right: -$xpboxwidth;
	}
	input.sheet-xpbox, .sheet-xpbox + span {
		height: $xpboxwidth;
		width: $xpboxwidth;
		flex: 0 0 auto;
	}
	.sheet-tanstbox{
		span {
			background:#aaa;
		}
	}
	.sheet-xpbox + span {
		border: 2px solid black;
	}
	.sheet-xpbox:checked + span {
		background: red;
	}
	.sheet-xpbox:hover + span {
		opacity: 0.7;
	}
}

.sheet-notes{
	margin-top: 10px;
	padding-left: 5px;

	textarea{
		border: 2px solid black;
		padding:2px;
	}
}


//Harm Boxes
$harmboxwidth:30px;

.sheet-harm {
	padding:5px;

	input.sheet-harmbox {
		margin-right: -$harmboxwidth;
	}

	.sheet-harmboxcontainer{
		border-bottom : 2px solid black;
		text-align: left;
		height: 80px;
	}

	.sheet-harmboxsubcontainer{
		height: 40px;
		padding-left:5px;
		padding-top: 5px
	}

	input.sheet-harmbox, .sheet-harmbox + span {
		height: $harmboxwidth;
		width: $harmboxwidth;
		flex: 0 0 auto;
	}

	.sheet-harmbox + span {
		border: 2px solid black;
	}
	.sheet-harmbox:checked  + span{
		background: red;
	}
	.sheet-harmbox:hover + span{
		opacity: 0.7;
	}

	.sheet-harmtags {
		textarea{
			border: 2px solid black;
			padding:2px;
			height: 62px;
			border-top: none;
		}
		
	}

	.sheet-harmlabel {
		padding-top: 30px;
		height: 80px;
		text-align: right;
		font-size: 14px;
		text-transform: lowercase;
	}

	.sheet-taglabel{
		width: 100%;
		text-align: center;
		height: 18px;
		border-left: 2px solid black;
		border-right: 2px solid black;
		font-size: 18px;
	}

	.sheet-smalltaglabel{
		background-color:$lightest;
		font-size:12px;
		text-transform: lowercase;

	}
}

$gearchecksize:20px;
.sheet-gearsection {
	margin: 0 5px;
	border: 2px solid black;

	input[type=checkbox]{
		margin: 5px;
		margin-right:-$gearchecksize - 5px;
	}


	input.sheet-gearcheck, .sheet-gearcheck + span {
		height: $gearchecksize;
		width: $gearchecksize;
		flex: 0 0 auto;
	}

	.sheet-gearcheck + span {
		border: 1px solid black;
		margin: 5px;
	}

	.sheet-gearcheck:checked  + span{
		background: red;
	}

	.sheet-gearcheck:hover + span{
		opacity: 0.7;
	}


	input[type=text]{
		width: 295px;
		margin: 0;
		margin-left:30px;
	}
}


.sheet-bottomsection-head {
	margin-top: 10px;
	text-align: center;
	font-size: 16px;
	background-color: black;
	color: white;
	height: 35px;
	padding-top: 10px;
	padding-bottom:10px;
}

.sheet-bottomsection-desc {
	margin-top: 10px;
	margin-right: 10px;
	padding-left:5px;
	text-align: left;
	font-size: 12px;
	border-top: 2px solid black;
	border-bottom: 2px solid black;
	height: 35px;
}

$bottomchecksize: 10px;
.sheet-bottomsection{

	.sheet-col33{
		padding:5px;
	}

	input[type=checkbox]{
		margin: 5px;
		margin-right:-$bottomchecksize - 5px;
		margin-left: 0;
	}


	input.sheet-btmcheck, .sheet-btmcheck + span {
		height: $bottomchecksize;
		width: $bottomchecksize;
		flex: 0 0 auto;
	}

	.sheet-btmcheck + span {
		border: 1px solid black;
		margin: 5px;
	}

	.sheet-btmcheck:checked  + span{
		background: black;
	}

	.sheet-btmcheck:hover + span{
		opacity: 0.7;
	}

	input[type=text]{
		width: 255px;
		margin-left: 20px;
		margin-right:0;
		border: none;
		font-size: 18px;
		outline:none;
		
	}

	textarea{
		width: 100%;
		height: 80px;
		outline: none;
		border-right: 1px solid $greyborder;
		border-bottom: 1px solid $greyborder;
	}
}

.sheet-levelingup {
	input[type=text]{
		font-size: 14px;
	}
}

.sheet-linksection {
	input[type=text]{
		margin: 0;
		margin-top: 10px;
		width: 100%;
		border-bottom: 1px solid black;
		border-right: 1px solid $greyborder;
	}
	input[type=text]:focus{
		outline: 1px solid blue;
	}
	textarea{
		height: 40px;
	}
}